:root {
  --main-color: #f7fff7;
  --secondary-color: #ff6b6b;
  --tertiary-color: #ffe66d;
  font-size: 62.5%;
}

html {
  background-color: var(--main-color);
}

body {
  padding: 0;
  font-size: 1.6rem;
}
h1,
h2 {
  background-color: var(--secondary-color);
}

p {
  line-height: 2.4rem;
}

section.container {
  padding: 1.6rem;
}
